In [ ]:
import pandas as pd
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
import numpy as np
import keras
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import confusion_matrix, classification_report
import statsmodels.formula.api as smf
from sklearn import preprocessing
df = pd.read_csv('/content/drive/MyDrive/heart_pred_ds.csv')

In [ ]:
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
X=df.drop(['target'],axis=1).values
y=df['target'].values

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)

mu = X_train.mean(axis = 0)
sigma = X_train.std(axis = 0)

X_train = (X_train - mu) / sigma
X_test = (X_test - mu) / sigma
X_train.shape

(242, 13)

In [ ]:
mdl = tf.keras.Sequential()

mdl.add(tf.keras.layers.Dense(128, activation = "relu", input_shape = (X_train.shape[1],)))
mdl.add(tf.keras.layers.Dense(64, activation= "relu"))
mdl.add(tf.keras.layers.Dense(32, activation= "relu"))
mdl.add(tf.keras.layers.Dense(1, activation="sigmoid"))

In [ ]:
mdl.compile(optimizer="adam", loss = "binary_crossentropy", metrics = ["accuracy"])
history =  mdl.fit(X_train, y_train, epochs = 10, validation_split = 0.1)

Epoch 1/10
7/7 [==============================] - 1s 37ms/step - loss: 0.6732 - accuracy: 0.5576 - val_loss: 0.5981 - val_accuracy: 0.7200
Epoch 2/10
7/7 [==============================] - 0s 6ms/step - loss: 0.5630 - accuracy: 0.7650 - val_loss: 0.5114 - val_accuracy: 0.8400
Epoch 3/10
7/7 [==============================] - 0s 7ms/step - loss: 0.4862 - accuracy: 0.8249 - val_loss: 0.4404 - val_accuracy: 0.8800
Epoch 4/10
7/7 [==============================] - 0s 7ms/step - loss: 0.4203 - accuracy: 0.8525 - val_loss: 0.3930 - val_accuracy: 0.8800
Epoch 5/10
7/7 [==============================] - 0s 7ms/step - loss: 0.3738 - accuracy: 0.8571 - val_loss: 0.3706 - val_accuracy: 0.8400
Epoch 6/10
7/7 [==============================] - 0s 7ms/step - loss: 0.3374 - accuracy: 0.8618 - val_loss: 0.3551 - val_accuracy: 0.8400
Epoch 7/10
7/7 [==============================] - 0s 6ms/step - loss: 0.3134 - accuracy: 0.8618 - val_loss: 0.3451 - val_accuracy: 0.8400
Epoch 8/10
7/7 [==============================] - 0s 7ms/step - loss: 0.2913 - accuracy: 0.8802 - val_loss: 0.3429 - val_accuracy: 0.8400
Epoch 9/10
7/7 [==============================] - 0s 6ms/step - loss: 0.2746 - accuracy: 0.8894 - val_loss: 0.3464 - val_accuracy: 0.8400
Epoch 10/10
7/7 [==============================] - 0s 7ms/step - loss: 0.2584 - accuracy: 0.9124 - val_loss: 0.3393 - val_accuracy: 0.8800

In [ ]:
mdl.evaluate(X_test,y_test)

2/2 [==============================] - 0s 8ms/step - loss: 0.3910 - accuracy: 0.8525

[0.3910367488861084, 0.8524590134620667]

In [ ]:
mdl.evaluate(X_train,y_train)

8/8 [==============================] - 0s 2ms/step - loss: 0.2562 - accuracy: 0.9132

[0.2561686336994171, 0.913223147392273]

In [ ]:
ypred = mdl.predict(X_test)
ypred_label = (ypred > 0.5).astype("int")
from sklearn.metrics import classification_report

print(classification_report(y_test, ypred_label))

              precision    recall  f1-score   support

           0       0.83      0.86      0.85        29
           1       0.87      0.84      0.86        32

    accuracy                           0.85        61
   macro avg       0.85      0.85      0.85        61
weighted avg       0.85      0.85      0.85        61